<div class="main-footer">
    <div>
        <img src="../../../assets/images/currency.png" width="100" alt="">
    </div>
    <ul>
        <li>
            <a href="https://www.facebook.com/profile.php?id=100008083928382" target="_blank">
                <img src="../../../assets/images/facebook-svgrepo-com.svg" width="40" height="40" alt="facebook">
            </a>
        </li>
        <li><a href="https://github.com/IgorVeremeyenko/kurs-valut" target="_blank"><img
                    src="../../../assets/images/github-svgrepo-com.svg" width="40" height="40" alt="github"></a>
        </li>
        <li><a href="https://www.linkedin.com/in/igorveremiienko/" target="_blank"><img
                    src="../../../assets/images/linkedin-svgrepo-com.svg" width="40" height="40" alt="linkedin"></a>
        </li>
        <li><a href="https://gopr-service.com.ua/about_me" target="_blank"><img
                    src="../../../assets/images/profile-svgrepo-com.svg" width="40" height="40" alt="about me"></a></li>
    </ul>
    <div>
        <p>Current Version: 1.1</p>
    </div>
</div>