<div style="display: flex;flex-direction: column;">
    <h3>Добро пожаловать!</h3>
    <div class="example-container">
        <mat-form-field appearance="fill">
            <mat-label>Введите эл. почту</mat-label>
            <input matInput placeholder="pat@example.com" required>

        </mat-form-field>
    </div>
    <div>
        <mat-form-field appearance="fill">
            <mat-label>Введите пароль</mat-label>
            <input matInput required>
        </mat-form-field>
    </div>
    <button mat-button>Войти
        <mat-icon matSuffix>login</mat-icon>
    </button>
</div>